    /* font-family: 'Inter', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root{
    --primary-color:#AB2C48;
    --secondary-color:#43121d;
    --third-color:#f98169;
    --white-color:#fff;
    --text-color:#555;
    --text-gray:#999;
    --black-color:#000;
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Quicksand', sans-serif;
}
.main-btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.signup{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
top:50%;
left:50%;
transform: translate(-50%,-50%);
background-image: url(images/image2/pexels-ella-olsson-1640773.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
/* background-color: aqua; */
}
.signup .main{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 390px;
    box-shadow: 0 0 10px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
.signup .main .secMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.signup .main .secMain h2{
    position: relative;
    top: 25px;
}
.signup .main .secMain .getInformation{
    position: relative;
    top: 30px;
    width: 70%;
}
.signup .main .secMain .getInformation input{
    outline: none;
    box-shadow: none;
    border: 1px solid;
    background-color: transparent;
}
.signup .main .secMain .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 40px;
    gap: 7px;
}
.signup .main .secMain .btns .signupbtn{
    justify-content: center;
    align-items: center;
}
.signup .main .secMain .btns .signupbtn .main-btn{
    /* display: inline-block; */
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    /* justify-content: center; */
    width: 200px;
}
.signup .main .secMain .btns .signupbtn .main-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
}
.signup .main .secMain .btns hr{
    line-height: 1em;
position: relative;
/* top: 90px; */
outline: 0;
border: 0;
color: black;
text-align: center;
/* height: 1.5em; */
opacity: 2.5;
background-color: transparent;

&:before {
  content: "";
  /* // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar */
  background: linear-gradient(to right, transparent, #000000, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

&:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 0.5em;
  line-height: 1.5em;
  /* // this is really the only tricky part, you need to specify the background color of the container element... */
  background-color: #fcfcfa;
}
    width: 100%;

}
.signup .main .secMain .btns .goolgeAuthentication button{
    width: 300px;
    border: 1px solid grey;
    font-weight: 600;
}
.signup .main .secMain .footer{
    position: relative;
    top: 40px;
    font-size: 18px;
    font-weight: 500;
}
.signup .main .secMain .footer p a{
    text-decoration: none;
    font-weight: 700;
}
.signup .main .secMain .footer p a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}
@media (max-width:550px) {
    .signup .main{
        width: 99%;
    }        
    .signup .main .secMain .getInformation input{
        width: 100%;
    }
}